body {
  font-family: 'Dosis', sans-serif;
}
hr {
  border: none;
  background-color: cadetblue;
  height: 3px;
}
h1 {
  text-align: center;
  font-family: 'Bangers', cursive;
  font-size: 28px;
}
footer {
  border-top: solid;
  border-top-color: cadetblue;
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
}